/* *****************************************
    MAIN BODY SETTINGS
**************************************** */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

/* *****************************************
    HEADER SETTINGS
**************************************** */

header {
    height: 70px;
    width: 90%;
    margin: auto;
    padding: 0;
}

.header-links {
    margin-top: 50px;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#dvmtn {
    font-family: 'Lora', serif;
    font-size: 16.8px;
    line-height: 21px;
    color: #272727;
}

#dvmtn2 {
    font-family: 'Lora', serif;
    font-size: 16.8px;
    line-height: 21px;
    color: #272727;
    padding-right: 125px;
}

/* *****************************************
    MAIN CONTAINER SETTINGS
**************************************** */

.main-container {
    margin: auto;
    height: 600px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* *****************************************
    LEFT COLUMN SETTINGS
**************************************** */
.left-column {
    text-align: center;
    width: 35%;
    margin: 5px;
}

h1 {
    margin: 0;
}

.firstName {
    font-family: 'Lora', serif;
    font-size: 38.4px;
    line-height: 46px;
    color: #272727;
    text-align: left;
    padding-left: 15px;
}

.lastName {
    font-family: 'Lora', serif;
    font-size: 38.4px;
    line-height: 46px;
    color: #272727;
    text-align: center;
    padding-left: 50px;
}

p.b-tagline {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 20px;
}

p.pJustify {
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    color: #000000;
}

.form-font {
    font-family: 'Lora', serif;
    font-size: 12.07px;
    line-height: 14px;
    color: #232323;
}

.sign-up-form {
    margin: 0;
}

.reg-field {
    width: 250px;
    height: 30px;
    border: 1px solid #dfe2e6;
    margin: 5px 0;
    padding: 8px;
    border-radius: 2px;
    font-family: 'Lora', serif;
    font-size: 16px;
}

.bio-field {
    width: 250px;
    height: 150px;
    border: 1px solid #dfe2e6;
    border-radius: 2px;
    margin: 5px 0;
    padding: 8px;
    font-family: 'Lora', serif;
    font-size: 16px;
}

.save-button {
    width: 250px;
    height: 30px;
    background-color: #74fdf2;
    border: none;
    font-family: 'Lora', serif;
    font-size: 12.07px;
    color: #a9a9a9;
    border-radius: 2px;
}

/* *****************************************
    RIGHT COLUMN SETTINGS
**************************************** */

.right-column {
    text-align: center;
    width: 55%;
    margin: 5px;
}

.t-image {
    width: 360px;
}

/* *****************************************
    BORDER LINE SETTINGS
**************************************** */

.b-border {
    border-bottom: 1px solid #dfe2e6;
    margin-top: 25px;
    padding-bottom: 25px;
}

.l-border {
    border-bottom: 1px solid #dfe2e6;
    margin-top: 25px;
}

.t-border {
    border-top: 2px solid #dfe2e6;
    margin-top: 10px;
}

/* *****************************************
    BOTTOM / MAIN NAVIGATION SETTINGS
**************************************** */

.main-nav {
    margin: auto;
    width: 80%;
    bottom: 0;
}

.nav-bar {
    height: 70px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 15px 0;
}

ul {
    padding: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.2px;
    line-height: 18px;
    color: #a9a9a9;
}

/* *****************************************
    LINK SETTINGS
**************************************** */

a {
    text-decoration: none;
    color: #a9a9a9;
}

a:hover {
   border-bottom: 2px solid #74fdf2;
}
