	<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,600,700" rel="stylesheet">
	<title>DevMtin - Landing Page</title>
</head>

<body>
	<header>
		<ul class="header-links l-border">
			<li><img src="images/pHeaderImage.PNG"></li>
			<li id="dvmtn2">DevMountain</li>
			<li><img src="images/icons/bGreySearch.PNG"></li>
		</ul>
	</header>

	<div class="main-container">

		<div class="left-column">
            <h1 class="firstName">Chis</h1>
			<h1 class="lastName">Johnson</h1>

            <p class="b-tagline">SOME AWESOME TAGLINE ABOUT YOU</p>

            <p class="pJustify">Lorem ipsum dolor. Sit amet non tellus amet erat pharetra suspendisse molestie lectus pede accumsan. Repudiandae vitae nostra. Et vitae velit. Bibendum interdum at felis nunc mus. Porttitor fugit et. Feugiat convallis erat. Lobortis condimentum et augue nibh ac lectus litora feugiat rhoncus enim donec. Luctus ipsum tristique nunc dolorem.</p>
			
            <p class="pJustify">Lorem ipsum dolor. Sit amet gravida nullam mauris amet dui consequat massa. Dolor nullam mi nibh lobortis aenean. Lacinia nibh nulla. Elit ipsum in amet.</p>
		</div>

		<div class="right-column">
			<img src="images/tProfileImage.PNG" class="t-image">
		</div>
	
	</div>

	<div class="main-nav t-border">
		<ul class="nav-bar">
			<li><a href="views/friendsView.html">View Friends</a></li>
			<li><a href="views/searchFriends.html">Find Friends</a></li>
			<li><a href="views/updateProfile.html">Update Profile</a></li>
		</ul>
	</div>

</body>

</html>
